<app-header></app-header>

<div class="body2">
  <h1 class="tytleprodutos">Produtos</h1>
</div>

<section id="produtos">
  <section class="produto">
    <div class="teste12345">
      <img class="img123" src="./assets/img/fonebg.png" alt="">
      <div class="Pfont">
        <p>Headset</p>
      </div>

      <div class="fontpt">
        <p>R$:69.00</p>
      </div>
      <a mat-raised-button href="#" target="_blank">COMPRAR</a>
    

    </div>
  </section>
  <section class="produto">
    <div class="teste12345">
      <img class="img123" src="./assets/img/placabg.png" alt="">
      <div class="Pfont">
        <p>Placa de video</p>
      </div>

      <div class="fontpt">
        <p>R$:760.90</p>
      </div>

      <a mat-raised-button href="#" target="_blank">COMPRAR</a>
    </div>
  </section>
  <section class="produto">
    <div class="teste12345">
      <img class="img123" src="./assets/img/not.png" alt="">
      <div class="Pfont">
        <p>Notebook</p>
      </div>
      <div class="fontpt">
        <p>R$:1.000.99</p>
      </div>

      <a mat-raised-button href="#" target="_blank">COMPRAR</a>

    </div>
  </section>
</section>


<section id="produtos2">
  <section class="produto">
    <div class="teste12345">
      <img class="img123" src="./assets/img/fonebg.png" alt="">
      <div class="Pfont">
        <p>Headset</p>
      </div>

      <div class="fontpt">
        <p>R$:69.00</p>
      </div>

      <a mat-raised-button href="#" target="_blank">COMPRAR</a>
    </div>
      
  </section>

  <section class="produto">
    <div class="teste12345">
      <img class="img123" src="./assets/img/placabg.png" alt="">
      <div class="Pfont">
        <p>Placa de video</p>
      </div>

      <div class="fontpt">
        <p>R$:750.99</p>
      </div>

      <a mat-raised-button href="#" target="_blank">COMPRAR</a>
      </div>
     
  </section>
  <section class="produto">
    <div class="teste12345">
      <img class="img123" src="./assets/img/fonebg.png" alt="">
      <div class="Pfont">
        <p>Headset</p>
      </div>

      <div class="fontpt">
        <p>R$:69.00</p>
      </div>

      <a mat-raised-button href="#" target="_blank">COMPRAR</a>

    </div>
  </section>
</section>


<app-footer class="fot"></app-footer>