<mat-toolbar class="footer">
  <section>
    <div class="rede">
      <img src="./assets/img/fb.png" alt="">
    </div>





  </section>


  <section>
    <div class="rede">
      <img src="./assets/img/insta.png" alt="">

    </div>




  </section>

  <section class="loc">
    <span>LOCALIZAÇÃO</span>
    <div class="loca">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.2646131542974!2d-46.187892384407526!3d-23.52298326606256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdd83f25b7f87b%3A0x28b1c3bd2eea56e3!2sSENAI%20%22Nami%20Jafet%22!5e0!3m2!1spt-BR!2sbr!4v1663004945891!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
  </section>
     </mat-toolbar>