

<div class="body">
    <section class="area-login">
        <div class="login"> 
            <div> 
                <img src="./assets/img/logo.png">
            </div>
           
        
        <form action="POST">
            <input type="text" name="nome" placeholder="Login" autofocus id="login">
            <input type="password" name="senha" placeholder="senha" id="senha">
            <input type="submit" value="Entrar" onclick="logar(); return false">
        </form>
        <p>Ainda não tem uma conta?</p><a href="a">Criar conta?</a>
    </div>   
    </section>

</div>
   