.mat-toolbar-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #1359FC;

}

.menu-links{
    margin: 0 800px;
    


  
    
}

.logo{
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}