<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Usuários cadastrados</h1>
        </div>
        <div class="col-md-6" style="margin: 0 auto;">
            <div class="row-effect">
                <p>Informações mais relevantes</p>
            </div>
        </div>

    </div>
</div>

<app-cadastro-read></app-cadastro-read>

    
<div class="row m-0">
    <div class="col-12 col-md-12 d-flex justify-content-center" style="margin: 80px auto 0px;">
        <hr class="mb-4">
        <div class="col-md"></div>
        <div class="col-12 col-md-3 p-0">
            <button class="btn btn-cadastrar" color="warn" (click)="home()">Home</button>
        </div>
        <div class="col-12 col-md-3 p-0">
            <button class="btn btn-cadastrar" color="accent" (click)="cadastrar()">Cadastrar</button>
        </div>
        <div class="col-md"></div>
    </div>
</div> 

<app-footer></app-footer>
