.text1 {
    text-align: center;
    padding-top: 10px;
}

.textemail {
    padding-bottom: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

.text1 {
    text-align: center;
    padding-top: 10px;
}

.botaoenv{
    text-align: center;
}