<app-header></app-header>
<div class="container">
    <div class="text1">
        <h2>ENTRE EM CONTATO</h2>
    </div>
<form action="">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input class="form-control" type="text" id="nome" placeholder="Digite o seu nome">

    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="email" id="email" placeholder="Digite o seu email">
        <div class="textemail">
              <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
        </div>
    </div>
    <div class="form-group">
        <label for="mensagem">Sua Mensagem:</label>
        <textarea class="form-control" name="mensagem" id="" cols="30" rows="3"
            placeholder="Coloque a sua mensagem"></textarea>
    </div>
</form>
<div class="botaoenv">
    <a href="/"><button  type="button" class="btn btn-primary">Enviar</button></a>

</div>
